<%- include('./includes/header.ejs', { isLogin: false }) %>
    <h1><%= message %></h1>

    <div class="container bg-light">
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </div>
<%- include('./includes/footer.ejs') %>
